Source: eiffelstudio14.05
Section: devel
Priority: optional
Maintainer: Louis M <linux@tioui.com>
Build-Depends: debhelper (>= 8.0.0), libgtk2.0-dev, libxtst-dev
Standards-Version: 3.9.3
Homepage: http://www.eiffel.com/

Package: eiffelstudio14.05
Architecture: i386 amd64 sparc powerpc
Depends: gcc, libatk1.0-0, ${shlibs:Depends}, libglib2.0-0, libgtk2.0-0, libgtk2.0-dev, libpango1.0-0, libx11-6, libxtst-dev, libxtst6, ${misc:Depends}, libsqlite3-dev
Description: IDE and tools for the Eiffel language
 EiffelStudio is a modern IDE offering the following features:
   - Complete compiler for the Eiffel programming language, with both high
     compile-time speed and high-performance executables
   - Support for Windows, MacOS X, Linux, *BSD, Solaris and other operating
     systems
   - Smart code editor
   - Sophisticated multi-view browsing and viewing facilities
   - Interactive debugger
   - Graphical modelling tool for UML and BON with full roundtrip
   - Refactoring support
   - GUI development tool and fully portable GUI library
