#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

EIFFEL_DIR = $(CURDIR)/Eiffel_14.05

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

LDFLAGS = -O3

CFLAGS += -O3 -fPIC -fno-stack-protector

ifeq ("${DEB_HOST_ARCH}","amd64")
	eif_arch = linux-x86-64
endif
ifeq ("${DEB_HOST_ARCH}","i386")
	eif_arch = linux-x86
endif
ifeq ("${DEB_HOST_ARCH}","sparc")
	eif_arch = linux-sparc
endif
ifeq ("${DEB_HOST_ARCH}","powerpc")
	eif_arch = linux-ppc
endif

DEST_DIR = $(CURDIR)/debian/eiffelstudio14.05
TEMP_DIR = $(CURDIR)/temp_root

%:
	dh $@

override_dh_auto_build: override_dh_auto_build-arch override_dh_auto_build-indep
	

override_dh_auto_build-arch: override_dh_auto_binary

override_dh_auto_binary: override_dh_auto_binary-arch

override_dh_auto_binary-arch: 
	./compile_exes ${eif_arch}
#	chmod +x $(EIFFEL_DIR)/studio/spec/${eif_arch}/bin/*
	patch $(EIFFEL_DIR)/unstable/library/persistency/database/sqlite3/sqlite.ecf < $(CURDIR)/patches/sqlite.ecf.patch
	patch $(EIFFEL_DIR)/unstable/library/persistency/database/sqlite3/sqlite-safe.ecf < $(CURDIR)/patches/sqlite-safe.ecf.patch
	patch $(EIFFEL_DIR)/unstable/library/persistency/database/sqlite3/examples/insert_and_print/example.ecf < $(CURDIR)/patches/insert_and_print-example.ecf.patch
	patch $(EIFFEL_DIR)/unstable/library/persistency/database/sqlite3/examples/liteterm/liteterm.ecf < $(CURDIR)/patches/liteterm.ecf.patch
	patch $(EIFFEL_DIR)/unstable/library/persistency/database/sqlite3/Clib/Makefile.SH < $(CURDIR)/patches/Makefile.SH.patch
	bash -c "cd $(EIFFEL_DIR)/unstable/library/persistency/database/sqlite3/Clib; LANG=C ISE_EIFFEL=$(EIFFEL_DIR) ISE_PLATFORM=${eif_arch} PATH=$$PATH:$(EIFFEL_DIR)/studio/spec/${eif_arch}/bin $(EIFFEL_DIR)/studio/spec/${eif_arch}/bin/finish_freezing"
#	ln -s ${eif_arch} $(EIFFEL_DIR)/tools/iron/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/tools/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/precomp/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/esbuilder/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/eweasel/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/compatible/precomp/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/compatible/library/vision2/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/compatible/library/obsolete/net/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/compatible/library/cURL/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/compatible/library/net/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/unstable/library/persistency/database/sqlite3/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/vision2_demo/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/library/vision2/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/library/obsolete/net/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/library/gobo/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/library/cURL/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/library/net/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/studio/wizards/others/precompile/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/studio/wizards/new_projects/vision2/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/studio/spec/unix
#	ln -s ${eif_arch} $(EIFFEL_DIR)/studio/config/unix

override_dh_auto_install:
	./make_unix_layout ${eif_arch} $(EIFFEL_DIR) $(TEMP_DIR)
	mv $(TEMP_DIR)/* $(DEST_DIR)/
	rm $(DEST_DIR)/usr/bin/estudio
	rm $(DEST_DIR)/usr/bin/vision2_demo
	rm $(DEST_DIR)/usr/bin/finish_freezing
	rm $(DEST_DIR)/usr/bin/esbuilder
	rm $(DEST_DIR)/usr/bin/ecb
	rm $(DEST_DIR)/usr/bin/ec

override_dh_auto_clean:
	rm -rf Eiffel_??.??
	rm -rf runtimes
	rm -rf eweasel/source	
	rm -rf C
	rm -rf C_library
	rm -rf ecs


